{% extends 'base.html.twig' %}

{% block title %}Part Details{% endblock %}

{% block body %}
    <h1 class="my-4">Part Details</h1>

    <ul class="list-group">
        <li class="list-group-item"><strong>Name:</strong> {{ part.name }}</li>
        <li class="list-group-item"><strong>Cost:</strong> {{ part.cost }}</li>
        <li class="list-group-item"><strong>Quantity:</strong> {{ part.quantity }}</li>
        <li class="list-group-item"><strong>Selling Price:</strong> {{ part.sellingPrice }}</li>
    </ul>

    <div class="mt-3">
        <a href="{{ path('edit_part', {id: part.id}) }}" class="btn btn-warning">Edit</a>
        <a href="{{ path('list_parts') }}" class="btn btn-secondary">Back to list</a>
    </div>
{% endblock %}
